<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <title>Simple Web App</title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}">
</head>
<body>
    <div class = "container">
        <h1>Welcome to my Simple Web App!</h1>
        <p>This is a demonstration of a simple Flask web application. Actually my first one, since I've used only node.js before. </p>
    </div>
</body>
</html>
